<footer class="footer">
    <div class="footer-wrapper">
      <!-- Right Column: روابط سريعة -->
      <div class="footer-col">
        <h4 class="footer-title">روابط سريعة</h4>
        <ul class="footer-list">
          <li><a href="/">الرئيسية</a></li>
          <li><a href="/leaderboard">لوحة المتصدرين</a></li>
        </ul>
      </div>
      
      <!-- Center Column: القوانين -->
      <div class="footer-col">
        <h4 class="footer-title">القوانين</h4>
        <ul class="footer-list legal-list">
          <li><a href="/rules">شروط الخدمة</a></li>
          <li><a href="/rules">سياسة الخصوصية</a></li>
          <li><a href="/rules">سياسة الاسترجاع</a></li>
          <li><a href="https://discord.gg/r51" target="_blank">قوانين الديسكورد</a></li>
        </ul>
      </div>
      
      <!-- Left Column: الدعم والتواصل -->
      <div class="footer-col">
        <h4 class="footer-title">الدعم والتواصل</h4>
        <a href="https://discord.gg/r51" target="_blank" class="discord-btn" title="انضم لسيرفر Discord">
          <i class="fab fa-discord"></i>
        </a>
      </div>
    </div>
    
    <!-- Final Credits -->
    <div class="footer-credits">
      <div class="credits">
        <p class="credit-text">
          صنع باحترافية عن طريق 
          <a href="https://discord.gg/sYHZwVpvBt" target="_blank" class="x5-link">X5</a>
        </p>
        <p class="copyright">© Area 51 Store. All rights reserved 2026</p>
      </div>
    </div>
  </footer>
  
  <script src="/js/main.js"></script>
</body>
</html>
